
/* Contains all of the CSS for the two HTML files

(From both HTML pages) RULES:
- body should remove all margin and padding
- main should set the padding to 16 pixels
- footer should set the top and bottom padding to 24 pixels and the left
  and right padding to 0 pixels
- img should have a height of 200 pixels
- nav should have a black, 1pixel bottom border and padding all the way
  around of 16 pixels

The CSS file
Please follow these rules when creating the rules in your CSS file:

You must put one blank line between rules
You must put an open curly brace on the same line as the selector
You must put a close curly brace on a new line
All property-value pairs in the CSS rule must be indented
A well-formatted CSS file should look like this. (Note that this is an
example and not CSS that you would write for a Web page, because there's
no tag named tag and no CSS properties named property, property, and
property2.)

tag {
  property: value;
}
Do you see how the open and close curly braces are positioned? Do you
see the indentation of the properties between the curly braces of the
rules? That's how well-formatted CSS looks.

This is a list of CSS properties that you'll likely need to use for this page that are introduced in this project:
border
height
margin
padding
width

*/

/* body {
    something
} */

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16;
}

footer {
    top: 24px

}

img {
    height: 200px;
}

nav {
    bottom-border: 1px black
}
